@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", serif;
}
.app {
  display: grid;
  min-height: 100vh;
  background: rgba(237, 237, 237, 0.8);
  background-image: url(assets/background.png);
  background-size: cover;
  backdrop-filter: blur(6px);
  }
